<!DOCTYPE html>
html(lang="en")
	head
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		title Pied Piper Landing Page
		link(rel="stylesheet", href="css/style.css")
	body
		header.header
			.header__top
				.wrapper
					.logo
						img.logo__img(src="source/img/logo.svg", alt="logo")
					nav.header__menu
						ul.header__menu-list
							li.header__list-item 
								a.header__menu-link(href="#") the problem
							li.header__list-item 
								a.header__menu-link(href="#") PiedPiperCoin
							li.header__list-item 
								a.header__menu-link(href="#") the team
			.header__content
				h1.header__content-title PiperNet Is Here
		|
		|
		section.problem
			.wrapper
				.title The Problem
				.problem__content
					p. 
						Beneath the flashy homepages of your favorite sites lurk Hooli™ and other evil corporations out to hoard and sell your most personal data. 
					p.	
						What was built to be the ultimate platform for the free sharing of knowledge has turned into a money-hungry monster feasting on our privacy and freedom. 
					p.	
						But fear not, for Pied Piper has the answer! And it’s simple: An autonomous peer-to-peer network featuring distributed storage powered by universal compression, accelerated scheduling allocation, and end-to-end encryption. 
					p.	
						Put even simpler — <strong>it’s the internet, completely decentralized.</strong>
		|
		|
		

