<!DOCTYPE html>
html(lang="en")
	head
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		title Pied Piper Landing Page
		link(rel="stylesheet", href="css/style.css")
	body
		header.header
			.header__top
				.wrapper
					.logo
						img.logo__img(src="source/img/logo.svg", alt="logo")
					nav.header__menu
						ul.header__menu-list
							li.header__list-item 
								a.header__menu-link(href="#") the problem
							li.header__list-item 
								a.header__menu-link(href="#") PiedPiperCoin
							li.header__list-item 
								a.header__menu-link(href="#") the team
			.header__content
				h1.header__content-title PiperNet Is Here

		section(class="problem")
			.wrapper
