@import "_nullstyle";
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap" rel="stylesheet"');

body {
	font-family: 'Roboto', sans-serif;
}

.wrapper {
	margin: 0 auto;
	padding: 0 55px;
	width: 1219px;
}

.header {
	background: #007765;
}

.header__top-inner {
	display: flex;
	justify-content: space-between;
	padding: 20px 0;
}

.header__list-item {
	display: inline-block;
	font-weight: 500;
	font-size: 24px;
	padding: 8px;
	position: relative;
	&::after {
		content: "|";
		position: absolute;
		color: white;
		top: 5px;
		right: -4px;
		line-height: 28px;
	}
	&:last-child::after{
		content: "";
	}
}

.header__content {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 403px;
	font-size: 72px;
	font-weight: 500;
	color: white;
	background: url("../source/img/header.jpg") no-repeat;
	background-size: cover;
}

.title {
	font-size: 64px;
	font-weight: 500;
	text-align: center;
	color: #007765;
}

.problem {
	background-color: #eeeeee;
	padding: 48px 0px 92px 0px;;
}

.problem__content {
	width: 1110px;
	font-size: 32px;
	line-height: 37.5px;
	padding-top: 16px;
	p {
		padding-bottom: 37.5px;
		&:last-child {
			padding-bottom: 0;
		}
	}
}

